/mvnw text eol=lf
*.cmd text eol=crlf
src/main/resources/SQL/** linguist-vendored=false
src/main/resources/static/js/** linguist-vendored=false
src/main/resources/static/js/pages/** linguist-vendored=false